<nav class="navbar" *ngIf="isLoggedIn() && !isLoginPage()">
  <div class="logo">
    🛒 StockManager
  </div>

  <div class="nav-links">

    <a routerLink="/produits"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">
      Produits
    </a>

    <a routerLink="/categories"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">
      Catégories
    </a>

    <a routerLink="/stock"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">
      Stock
    </a>


    <a routerLink="/admin/dashboard"
       *ngIf="isAdmin()"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">
      Dashboard
    </a>

    <a routerLink="/admin/users"
       *ngIf="isAdmin()"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">
      Gestion Utilisateurs
    </a>

    <a routerLink="/admin/audit" *ngIf="isAdmin()"
       routerLinkActive="active">
      Historique
    </a>

    <a (click)="logout()" class="logout">
      Logout
    </a>

  </div>
</nav>


<router-outlet></router-outlet>
