<div class="container">
  <div class="page-header">
   <h2 class="page-title">Gestion des Produits</h2>
  </div>

  <div class="filters">

    <input
      type="text"
      name="search"
      placeholder="🔍 Rechercher un produit..."
      [(ngModel)]="searchTerm"
      (input)="searchProduits()" />

    <select
      [(ngModel)]="selectedCategory"
      name="categorieFilter"
      (change)="filterByCategory()">

      <option value="">Toutes les catégories</option>

      <option *ngFor="let c of categories" [value]="c.id">
        {{ c.nom }}
      </option>

    </select>

  </div>

  <div *ngIf="message" class="toast">
    {{ message }}
  </div>


  <div class="card">

    <h3 *ngIf="!isEdit">Ajouter un produit</h3>
    <h3 *ngIf="isEdit">Modifier le produit</h3>

    <form (ngSubmit)="addProduit()" #produitForm="ngForm">

      <input
        type="text"
        placeholder="Nom"
        [(ngModel)]="newProduit.nom"
        name="nom"
        required>

      <input
        type="number"
        placeholder="Prix"
        [(ngModel)]="newProduit.prix"
        name="prix"
        min="0"
        required>
      <p class="error" *ngIf="newProduit.prix < 0">
        ❌ Le prix ne peut pas être négatif
      </p>
      <input
        type="number"
        placeholder="Quantité"
        [(ngModel)]="newProduit.quantite"
        name="quantite"
        min="0"
        required>
      <p class="error" *ngIf="newProduit.quantite < 0">
        ❌ Le quantité ne peut pas être négatif
      </p>
      <input
        type="text"
        placeholder="Description"
        [(ngModel)]="newProduit.description"
        name="description">

      <select [(ngModel)]="newProduit.categorie" name="categorie">
        <option [ngValue]="undefined">-- Choisir une catégorie --</option>
        <option *ngFor="let c of categories" [ngValue]="c">
          {{ c.nom }}
        </option>
      </select>

      <button
        type="submit"
        [disabled]="newProduit.prix < 0 || newProduit.quantite < 0">
        {{ isEdit ? 'Mettre à jour' : 'Ajouter' }}
      </button>

      <button
        *ngIf="isEdit"
        type="button"
        (click)="cancelEdit()">
        Annuler
      </button>

    </form>

  </div>


    <div class="card">

    <h3>Liste des Produits</h3>

    <table>

      <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Catégorie</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let p of produits">

        <td>{{ p.id }}</td>
        <td>{{ p.nom }}</td>
        <td>{{ p.prix }}</td>
        <td>{{ p.quantite }}</td>
        <td>{{ p.categorie?.nom }}</td>
        <td>{{ p.description }}</td>

        <td>
          <button *ngIf="isAdmin()" (click)="editProduit(p)">
            ✏
          </button>
          <button (click)="ouvrirModalSuppression(p)">
            🗑
          </button>
          <button class="in" (click)="ouvrirEntree(p)">
            📥
          </button>

          <button class="out" (click)="ouvrirSortie(p)">
            📤
          </button>
        </td>

      </tr>
      </tbody>

    </table>

  </div>

  <div class="pagination">

    <button (click)="previousPage()" [disabled]="page == 0">
      ⬅ Précédent
    </button>

    <span>Page {{ page + 1 }} / {{ totalPages }}</span>

    <button (click)="nextPage()" [disabled]="page >= totalPages - 1">
      Suivant ➡
    </button>

  </div>
  <div *ngIf="modalSuppression" class="modal-backdrop">

    <div class="modal-box">

      <h3>Confirmer la suppression</h3>

      <p>
        Voulez-vous supprimer
        <strong>{{ produitASupprimer?.nom }}</strong> ?
      </p>

      <div class="modal-actions">

        <button class="btn-danger" (click)="confirmerSuppression()">
          Confirmer
        </button>

        <button (click)="fermerModalSuppression()">
          Annuler
        </button>

      </div>

    </div>

  </div>
  <div class="modal-backdrop" *ngIf="modalStock">

    <div class="modal-content">

      <h3>Mouvement de stock</h3>

      <p>Produit : {{ produitStock?.nom }}</p>

      <input
        type="number"
        [(ngModel)]="quantiteMouvement"
        placeholder="Quantité"
        min="1"
        [max]="produitStock?.quantite">

      <div class="modal-actions">

        <button
          (click)="enregistrerMouvement()"
          [disabled]="quantiteMouvement > produitStock?.quantite || quantiteMouvement <= 0">
          Enregistrer
        </button>
        <p class="error" *ngIf="quantiteMouvement < 0">
          ❌ Le quantite ne peut pas être négatif
        </p>

        <p class="error" *ngIf="quantiteMouvement > produitStock?.quantite">
          ❌ stock insifisant
        </p>
        <button (click)="modalStock=false">
          Annuler
        </button>

      </div>

    </div>

  </div>

  </div>


