<div class="container">

  <h2>Gestion des Produits</h2>

  <!-- Message -->
  <p *ngIf="message" class="message">
    {{ message }}
  </p>

  <!-- FORMULAIRE -->
  <div class="card">

    <h3 *ngIf="!isEdit">Ajouter un produit</h3>
    <h3 *ngIf="isEdit">Modifier le produit</h3>

    <form (ngSubmit)="addProduit()" #produitForm="ngForm">

      <input
        type="text"
        placeholder="Nom"
        [(ngModel)]="newProduit.nom"
        name="nom"
        required>

      <input
        type="number"
        placeholder="Prix"
        [(ngModel)]="newProduit.prix"
        name="prix"
        required>

      <input
        type="number"
        placeholder="Quantité"
        [(ngModel)]="newProduit.quantite"
        name="quantite"
        required>

      <input
        type="text"
        placeholder="Description"
        [(ngModel)]="newProduit.description"
        name="description">

      <button type="submit">
        {{ isEdit ? 'Mettre à jour' : 'Ajouter' }}
      </button>

      <button
        *ngIf="isEdit"
        type="button"
        (click)="cancelEdit()">
        Annuler
      </button>

    </form>

  </div>

  <!-- TABLEAU -->
  <div class="card">

    <h3>Liste des Produits</h3>

    <table>

      <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Catégorie</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let p of produits">

        <td>{{ p.id }}</td>
        <td>{{ p.nom }}</td>
        <td>{{ p.prix }}</td>
        <td>{{ p.quantite }}</td>
        <td>{{ p.categorie?.nom }}</td>
        <td>{{ p.description }}</td>

        <td>
          <button (click)="editProduit(p)">Modifier</button>
          <button (click)="deleteProduit(p.id!)">Supprimer</button>
        </td>

      </tr>
      </tbody>

    </table>

  </div>

</div>
